.list{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: top;
}

@media only screen and (max-width: 1080px) {
    .list{
        flex-direction: column;
    }
}